/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: rgb(0, 79, 163);
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgb(0, 79, 163);
  /* color: rgba(255,255,255,.9); */
}
  .parallax-container .section {
    width: 100%;
  }
  .parallax img{
    max-width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#temas, #uni{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);;
}
/* 
.brand-logo{
  align-items: center;
  width: 40px;
} */

.grey-text{
  text-align: justify;
}

.logo{
  /* border: solid; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo>img{
  height: 100%;
}

.line-horizontal{
  width: 60%;
  color: rgba(128, 128, 128, 0.473);
}


.bgcolor{
  background-color:#1565c0;
}

.textoUni{
  margin: 0px;
  
  background-color:#1565c0;
}

.vineta{
  list-style-type: square;
}